---
import Kongres from '@layouts/Kongres.astro'

const free = Astro.url.searchParams.get('f')
---

<Kongres title="Preakredytacja" description="Kup bilet on-line na KONgres 2023">
  <main>
    {
      free && (
        <>
          <p class="mb-4">Dziękujemy za preakredytację!</p>
          <p class="mb-4">
            Wkrótce otrzymasz od nas maila z&nbsp;potwierdzeniem i
            <b>kodem QR</b>, który należy okazać przy akredytacji,
            aby&nbsp;otrzymać identyfikator.
          </p>
        </>
      )
    }
    {
      !free && (
        <>
          <p class="mb-4">Dziękujemy za złożenie zamówienia!</p>
          <p class="mb-4">
            Jak tylko wpłata zostanie zaksięgowana, otrzymasz od nas maila
            z&nbsp;potwierdzeniem i&nbsp;<b>kodem QR</b>, który należy okazać
            przy akredytacji, aby otrzymać identyfikator.
          </p>
        </>
      )
    }
    <p class="mb-4">
      Minęło trochę czasu, a&nbsp;mail nadal nie dotarł? Sprawdź folder ze
      spamem lub skontaktuj się z&nbsp;nami poprzez
      <a href="mailto:kongres@skiercon.pl" class="accent">kongres@skiercon.pl</a
      >
    </p>
    <p>Do zobaczenia na KONgresie 2023!</p>
  </main>
</Kongres>

<style lang="scss">
  .accent {
    color: var(--kongres-3);
  }
</style>
