---
import Kongres from '@layouts/Kongres.astro'
---

<Kongres title="Preakredytacja" description="Kup bilet on-line na KONgres 2023">
  <p class="mb-4">Preakredytacja na KONgres zakończyła się.</p>
  <p class="mb-4">
    W piątek (21 kwietnia) będzie można zakredytować się na sleep-roomie
    (dotyczy osób chcących skorzystać z noclegu).
  </p>
  <p class="mb-4">
    W sobotę (22 kwietnia) będzie można zakredytować się w&nbsp;budynku Centrum
    Kultury i Sztuki.
  </p>
  <p class="mb-4">Liczba miejsc jest <b>nieograniczona</b>.</p>
  <p class="mb-4">Koszt akredytacji na KONgres 2023: <b>10,00 zł</b></p>
</Kongres>
