---
import type { WidgetButton } from 'src/__gen-api'

export interface Props {
  widget: WidgetButton
}

const widget = Astro.props.widget
---

<div class="flex justify-center">
  <a
    href={widget.url}
    target={widget.openInNewTab ? '_blank' : '_self'}
    class={'btn btn-lg btn-primary ' +
      (widget.buttonFullWidth ? 'btn--full' : '')}
  >
    {widget.title}
  </a>
</div>

<style>
  .btn--full {
    @apply w-full;
  }
</style>
