---
import type { WidgetButton } from 'src/__gen-api'

export interface Props {
  widget: WidgetButton
}

const widget = Astro.props.widget
---

<div class="flex justify-center">
  <a
    href={widget.url}
    target={widget.openInNewTab ? '_blank' : '_self'}
    class={'btn ' + (widget.buttonFullWidth ? 'btn--full' : '')}
  >
    {widget.title}
  </a>
</div>

<style>
  .btn {
    @apply py-5 px-10 bg-cyan-700 text-white text-xl hover:bg-cyan-800 transition-all;
  }
  .btn--full {
    @apply w-full text-center py-3 text-lg;
  }
</style>
