---
import { fixOrphans } from 'src/utils'
import type { WidgetText } from 'src/__gen-api'
export interface Props {
  widget: WidgetText
}

const widget = Astro.props.widget
---

<div class="wysiwyg max-w-3xl">
  <Fragment set:html={fixOrphans(widget.content)} />
</div>
