---
import type { WidgetGallery } from 'src/__gen-api'
export interface Props {
  widget: WidgetGallery
}

const widget = Astro.props.widget
---

<div class="text-4xl">Gallery Widget not implemented yet</div>

<!-- <h2>{widget.title}</h2>
{
  widget.images.map(image => {
    return <img src={image.url} alt={image.alt} />
  })
} -->
