---
import Layout from '../layouts/Layout.astro'
import Widgets from '@components/Widgets.astro'
import { api } from 'src/api'

const { data: page } = await api.pages.getPageBySlug('home')
---

<Layout title={''} description={page.description}>
  <h1>
    <img
      src="/skiercon-data.webp"
      alt="SkierCon 28-30 lipca 2023"
      width="1867"
      height="845"
      class="mt-0 md:pt-16"
    />
  </h1>
  <Widgets widgets={page.widgets} />
</Layout>
