---
import Layout from '@layouts/Layout.astro'
import PreakreForm from '@components/preakre/PreakreForm.svelte'
---

<Layout
  title={'Preakredytacja'}
  description={'Kup akredytację na SkierCon - konwent letniego chilloutu. Tylko w preakredytacji możesz zamówić SkierQubas, konwentową koszulkę i papierowy informator. Przedsprzedaż trwa do 7 lipca.'}
>
  <h1 class="mb-8 text-4xl font-bold">Preakredytacja</h1>
  <PreakreForm client:load />
</Layout>
