<footer class="bg-cyan-900 py-10">
  <div class="container flex justify-between">
    <div class="hidden lg:block">
      <img src="/logo.png" alt="" class="logo" />
    </div>
    <div class="flex justify-between gap-8">
      <nav class="">
        <h2 class="text-xl font-bold mb-2">Informacje</h2>
        <ul class="">
          <li>
            <a class="hover:underline" href="https://skiercon.pl/regulamin"
              >Regulamin konwentu</a
            >
          </li>
          <li>
            <a
              class="hover:underline"
              href="https://cech.skiercon.pl/cech/rodo ">Polityka prywatności</a
            >
          </li>
          <li>
            <a
              class="hover:underline"
              href="https://cech.skiercon.pl/cech/regulamin-sprzedaży"
              >Regulamin sprzedaży</a
            >
          </li>
        </ul>
      </nav>
      <!-- <nav class="">
        <h2 class="text-xl font-bold mb-2">Informacje</h2>
        <ul class="">
          <li>
            <a class="" href="/jak-dojade">Jak dojadę</a>
          </li>
          <li>
            <a class="" href="/nocleg">Nocleg</a>
          </li>
          <li>
            <a class="" href="/gastronomia">Gastronomia</a>
          </li>
          <li>
            <a class="" href="/mapa-konwentu">Mapa konwentu</a>
          </li>
          <li>
            <a class="" href="/kontakt">Kontakt</a>
          </li>
          <li>
            <a class="" href="/regulamin">Regulamin</a>
          </li>
        </ul>
      </nav>

      <nav class="">
        <h2 class="text-xl font-bold mb-2">Program</h2>
        <ul class="">
          <li>
            <a class="" href="/tabela-programowa">Tabela programowa</a>
          </li>
          <li>
            <a class="" href="/goscie">Goście</a>
          </li>
          <li>
            <a class="" href="/turnieje">Turnieje</a>
          </li>
          <li>
            <a class="" href="/sesje-rpg-i-larpy">Sesje RPG i LARP-y</a>
          </li>
        </ul>
      </nav> -->
    </div>
  </div>

  <div
    class="container flex flex-col justify-between text-sm mt-20 md:flex-row"
  >
    <div class="hidden md:block">CF SkierCon 2023</div>
    <nav>
      <ul class="flex flex-col gap-2 md:flex-row">
        <li>
          <a class="" href="https://www.facebook.com/SkierCon" target="_blank">
            Facebook
          </a>
        </li>
        <li>
          <a
            class=""
            href="https://www.instagram.com/skiercon/"
            target="_blank"
          >
            Instagram
          </a>
        </li>
        <li>
          <a class="" href="https://www.tiktok.com/@skiercon" target="_blank">
            TikTok
          </a>
        </li>
        <li>
          <a
            class=""
            href="https://www.youtube.com/@cfskiercon7731"
            target="_blank"
          >
            YouTube
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>

<style lang="scss">
  .logo {
    filter: drop-shadow(0 0 0.5rem #000000);
  }
</style>
