---
export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

import Nav from './Nav.astro'
import Footer from './Footer.astro'
import Cookies from '@components/Cookies.astro'
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">

    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <title>{title} - Skiercon 2023</title>

    {import.meta.env.PUBLIC_GTM && (
      <script type="text/partytown" is:inline>
        (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-WV64ZRJ');
      </script>
    )}
  </head>
  <body class="body">
    {import.meta.env.PUBLIC_GTM && (
      <noscript>
        <iframe
          src="https://www.googletagmanager.com/ns.html?id=GTM-WV64ZRJ"
          height="0"
          width="0"
          style="display:none;visibility:hidden"></iframe>
      </noscript>
    )}
    <Nav />
    <main class="container">
      <slot />
    </main>
    <Footer />
    <Cookies />
  </body>
</html>
<style is:global lang="scss">
  @tailwind base;
  @import '../style/fonts.scss';
  @import 'wysiwyg.css';

  :root {
    --bg1: #124757;
    --bg2: #196a78;
    --acc1: #cfc24f;
    --acc2: #a1a531;
    --acc3: #687818;
  }

  .body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg1) url('/bcg.webp');
    color: rgb(218, 218, 218);
    line-height: 1.6;
    padding-top: 40px;
  }

  .wysiwyg {
    a {
      @apply text-cyan-500;

      &[target='_blank']::after {
        content: ' ↗';
      }
    }
  }
</style>
