---
export interface Props {
  title: string
  description: string
}

const { title, description } = Astro.props

import 'normalize.css'
import 'sass-mq'
import Nav from './Nav.astro'
import Footer from './Footer.astro'
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon/favicon-16x16.png"
    />
    <link rel="manifest" href="/favicon/site.webmanifest" />
    <link
      rel="mask-icon"
      href="/favicon/safari-pinned-tab.svg"
      color="#5bbad5"
    />
    <link rel="shortcut icon" href="/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffc40d" />
    <meta name="msapplication-config" content="/favicon/browserconfig.xml" />
    <meta name="theme-color" content="#ffffff" />
    <title>{title} - Skiercon 2023</title>
  </head>
  <body class="body">
    <Nav />
    <main class="container py-10">
      <slot />
    </main>
    <Footer />
  </body>
</html>
<style is:global lang="scss">
  @tailwind base;

  :root {
    --bg1: #124757;
    --bg2: #196a78;
    --acc1: #cfc24f;
    --acc2: #a1a531;
    --acc3: #687818;
  }

  .body {
    font-family: 'Poppins', sans-serif;
    background: var(--bg1) url('/bcg.png');
    color: rgb(218, 218, 218);
    line-height: 1.6;
    padding-top: 70px;
  }
</style>
